<LoadPlugin apache>
    Interval {{ collectd_apache_interval }}
</LoadPlugin> 

<Plugin apache>
{% for instance in collectd_apache_instances %}
  <Instance "{{ instance['name'] }}">
    URL "{{ instance['url'] }}"
    Server "{{ instance['server'] | default('apache') }}"
  </Instance>
{% endfor %}
</Plugin>
