LoadPlugin write_graphite

<Plugin write_graphite>
{% for instance in collectd_graphite_instances %}
  <Node "{{ instance['name'] | default('local') }}">
    Host "{{ instance['host'] | default('localhost') }}"
    Port "{{ instance['port'] | default(2003) }}"
	Protocol "{{ instance['protocol'] | default('tcp') }}"
	LogSendErrors {{ instance['log_send_errors'] | default(true) | lower }}
	Prefix "{{ instance['prefix'] | default('') }}"
	Postfix "{{ instance['postfix'] | default('') }}"
	StoreRates {{ instance['store_rates'] | default(false) | lower }}
	SeparateInstances {{ instance['separate_instances'] | default(false) | lower }}
	AlwaysAppendDS {{ instance['always_append_ds'] | default(false) | lower }}
	EscapeCharacter "{{ instance['escape_character'] | default('_') }}"
  </Node>
{% endfor %}
</Plugin>

