LoadPlugin write_graphite

<Plugin write_graphite>
{% for instance in collectd_graphite_instances %}
  <Node "{{ instance['name'] }}">
    Host "{{ instance['host'] }}"
    Port "{{ instance['port'] }}"
	Protocol "{{ instance['protocol'] }}"
	LogSendErrors {{ instance['log_send_errors'] | default(false) }}
	Prefix "{{ instance['prefix'] }}"
	StoreRates {{ instance['store_rates'] | default(false) }}
	AlwaysAppendDS {{ instance['always_append_ds'] | default(false) }}
	EscapeCharacter "{{ instance['escape_character'] | default('_') }}"
  </Node>
{% endfor %}
</Plugin>

