LoadPlugin mysql

<Plugin mysql>
{% for instance in collectd_mysql_instances %}
  <Database "{{ instance['name'] }}">
    Host "{{ instance['host'] }}"
    User "{{ instance['user'] }}"
    Password "{{ instance['pass'] }}"
    MasterStats {{ instance['master_stats'] | default('false') }}
  </Database>
{% endfor %}

</Plugin>
