LoadPlugin redis

<Plugin redis>
{% for instance in collectd_redis_instances %}
  <Node "{{ instance['name'] }}">
    Host "{{ instance['host'] }}"
    Port "{{ instance['port'] }}"
    Timeout {{ instance['timeout'] | default('2000') }}
  </Node>
{% endfor %}

</Plugin>
